@media (max-width: 320px) {
    .single-grid {
        width: 100%;
        background: #f8f4f3;
        margin-bottom: 40px;
        box-shadow: 1px 2px 5px #888;
        float: left;
        margin-left: 0px;
    }
}

@media (min-width:375px) {
    .single-grid {
        width: 100%;
        background: #f8f4f3;
        margin-bottom: 40px;
        box-shadow: 1px 2px 5px #888;
        float: left;
        margin-left: 0px;
    }
}

@media (min-width:600px) {
    .single-grid {
        width: 48%;
        background: #f8f4f3;
        margin-bottom: 40px;
        box-shadow: 1px 2px 5px #888;
        float: left;
        margin-left: 10px;
    }
}